<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Projeler </ion-title>
  </ion-toolbar>
  <ion-toolbar>
    <ion-segment value="info">
      <ion-segment-button value="info">
        <ion-label>Bana Özel</ion-label>
      </ion-segment-button>
      <ion-segment-button value="education">
        <ion-label>Diğer</ion-label>
      </ion-segment-button>
      <ion-segment-button value="skills">
        <ion-label>Sonuçlanan</ion-label>
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>
    <ion-item routerLink="/tabs/tab1/project">
      <ion-thumbnail slot="start">
        <img
          alt="Silhouette of mountains"
          src="https://istinyepark.com.tr/data-stores/bella-maison-logo.jpg"
        />
      </ion-thumbnail>
      <ion-label>
        <h2 class="font-bold">Bella Maison</h2>
        <h3>Reklam Filmi</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-thumbnail slot="start">
        <img
          alt="Silhouette of mountains"
          src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKEiH7RBAZ8vUhr-dgPOFXpt622Dm2o0pcxg&s"
        />
      </ion-thumbnail>
      <ion-label>
        <h2 class="font-bold">Fellas</h2>
        <h3>Reklam Filmi</h3>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
