<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Fibabank - Akademsiyen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light">
  <ion-list inset="true">
    <div class="ion-padding grid gap-1">
      <h1 class="text-xl font-bold">Reji Notu</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae, ratione
        commodi. Earum necessitatibus veritatis esse cupiditate. Animi
        voluptates beatae alias consequatur doloremque voluptatem explicabo
        illum hic dolore, tempore sequi minus.
      </p>
      <!-- <ion-button fill="outline" class="w-full mt-3">
        <ion-icon slot="start" name="document-text-outline"></ion-icon>
        Senaryoyu Gör
      </ion-button>
      <div class="w-full border-b my-3"></div> -->
    </div>
  </ion-list>
  <ion-list inset="true">
    <div class="ion-padding">
      <h1 class="text-xl font-bold">Senaryo</h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore repellat
        aliquam accusamus corrupti tempore aspernatur consequuntur et mollitia
        quod? Voluptas nesciunt praesentium beatae ipsa nisi repellendus natus
        placeat asperiores ullam est eius quibusdam eligendi commodi sed nam
        laborum facilis magni earum provident optio ea sunt, reiciendis autem
        eveniet? Ea, dignissimos.
      </p>
    </div>
  </ion-list>
</ion-content>
<ion-footer class="bg-white">
  <div class="grid p-2">
    <ion-button (click)="closeModal()" class="w-full">
      <ion-icon slot="start" name="videocam"></ion-icon>
      Audition Videosu Gönder
    </ion-button>
    <ion-button
      (click)="closeModal()"
      color="danger"
      fill="clear"
      class="w-full mt-3"
    >
      Teklifi Reddet
    </ion-button>
  </div>
</ion-footer>
