<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Clara Senizar </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
  <ion-list>
    <div class="grid p-4 grid-cols-[auto_1fr] gap-4">
      <div class="rounded-full w-32 h-32 border overflow-hidden relative">
        <img
          src="https://cdn.frava.app/agencies/s474E581tgZjKD3qgMHZ/talents/2cmra8z1p82/portfolio/l3h6ddssmgo.jpg?width=600"
          alt=""
          class="absolute inset-0 w-full h-full object-cover object-top"
        />
      </div>
      <div class="flex flex-col justify-start">
        <h1 class="text-2xl font-bold">Clara Senizar</h1>
        <p class="text-gray-500">Oyuncu / İstanbul</p>
        <div class="grid mt-2">
          <ion-button size="small" (click)="openModal()" color="secondary"
            >Bilgilerimi Düzenle</ion-button
          >
        </div>
      </div>
    </div>
  </ion-list>

  <ion-list inset="true">
    <ion-item-divider>Kolaj</ion-item-divider>
    <div class="grid w-full gap-px p-px aspect-square grid-cols-2 grid-rows-2">
      <div class="row-span-2 relative">
        <img
          class="absolute inset-0 w-full h-full object-cover object-top"
          src="https://cdn.frava.app/agencies/s474E581tgZjKD3qgMHZ/talents/2cmra8z1p82/portfolio/ednfq3168k.jpg?width=600"
          alt=""
        />
      </div>
      <div class="relative">
        <img
          class="absolute inset-0 w-full h-full object-cover object-top"
          src="https://cdn.frava.app/agencies/s474E581tgZjKD3qgMHZ/talents/2cmra8z1p82/portfolio/kydmi6l1s9.jpg?width=600"
          alt=""
        />
      </div>
      <div class="relative">
        <img
          class="absolute inset-0 w-full h-full object-cover object-top"
          src="https://cdn.frava.app/agencies/s474E581tgZjKD3qgMHZ/talents/2cmra8z1p82/portfolio/mfniv202qua.jpg?height=600"
          alt=""
        />
      </div>
    </div>
    <ion-item-divider> <p>3 Gün Önce Güncellendi</p> </ion-item-divider>
  </ion-list>
  <ion-list inset="true">
    <ion-item-divider> Tanıtım Videosu </ion-item-divider>

    <div class="relative w-full aspect-video">
      <div
        class="absolute z-10 left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2"
      >
        <ion-icon
          class="w-20 h-20 text-white"
          name="play-circle-outline"
        ></ion-icon>
      </div>
      <img
        class="absolute inset-0 w-full h-full object-cover object-top"
        src="https://cdn.frava.app/agencies/s474E581tgZjKD3qgMHZ/talents/2cmra8z1p82/portfolio/kydmi6l1s9.jpg?width=600"
        alt=""
      />
    </div>
    <ion-item-divider> <p>1 Gün Önce Güncellendi</p> </ion-item-divider>
  </ion-list>
  <ion-list inset="true">
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Kişisel Bilgiler </ion-label>
      </ion-item-divider>

      <ion-item>
        <ion-label>Doğum Yılı</ion-label>
        1999
      </ion-item>
      <ion-item>
        <ion-label>Boy</ion-label>
        187cm
      </ion-item>
      <ion-item lines="none">
        <ion-label>Kilo</ion-label>
        85kg
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label> Tiyatro </ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>
          <div class="bg-white">
            <table class="w-full">
              <tr>
                <th>Yıl</th>
                <th>Oyun & Rol</th>
                <th>Yönetmen</th>
              </tr>
              <tr>
                <td>2024</td>
                <td>Konik Annalar</td>
                <td>GSUTT</td>
              </tr>
              <tr>
                <td>2023</td>
                <td>Katil JOE</td>
                <td>Ahmet Demir Mithat</td>
              </tr>
            </table>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Oyunculuk Eğitimi </ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>
          <div class="bg-white">
            <table class="w-full">
              <tr>
                <th>Tarih</th>
                <th>Kurum</th>
                <th>Bölüm</th>
              </tr>
              <tr>
                <td>2020 - 2024</td>
                <td>Mimar Sinan Güzel Sanatlar Üniversitesi</td>
                <td>Sahne Sanatları Bölümü</td>
              </tr>
              <tr>
                <td>2023</td>
                <td>Kaft</td>
                <td>Kamera Önü Oyunculuk Atölyesi</td>
              </tr>
            </table>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Sinema Deneyimleri </ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>
          <div class="bg-white">
            <table class="w-full">
              <tr>
                <th>Yıl</th>
                <th>Yönetmen</th>
                <th>Sinema / Rol</th>
              </tr>
              <tr>
                <td>2024</td>
                <td>Zeki Demirkubuz</td>
                <td>Hayat / Bilal</td>
              </tr>
              <tr>
                <td>2023</td>
                <td>Kaft</td>
                <td>Kamera Önü Oyunculuk Atölyesi</td>
              </tr>
            </table>
          </div>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label> Spor </ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>
          <ion-chip> Basketbol </ion-chip>
          <ion-chip> Masa Tenisi </ion-chip>
          <ion-chip> Yüzme </ion-chip>
          <ion-chip> Yoga </ion-chip>
          <ion-chip> Boks </ion-chip>
          <ion-chip> Fitness </ion-chip>
          <ion-chip> Voleybol </ion-chip>
          <ion-chip> Badminton </ion-chip>
          <ion-chip> Dağcılık </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>

    <ion-item-group>
      <ion-item-divider>
        <ion-label> Müzik </ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>
          <ion-chip> Piyano </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Dil </ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>
          <ion-chip> İngilizce </ion-chip>
          <ion-chip> Fransızca </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Ehliyet </ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>
          <ion-chip> B (Otomobil) </ion-chip>
          <ion-chip> Pasaport (Bordo) </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label> Diğer </ion-label>
      </ion-item-divider>

      <ion-item lines="none">
        <ion-label>
          <ion-chip> Aşçı </ion-chip>
        </ion-label>
      </ion-item>
    </ion-item-group>
  </ion-list>
</ion-content>
